extends layout
include mixins/_userTabela

block content

    .container
        .row
            h2= title

        .row.col.l12
            +userTabela

        .fixed-action-btn.button-fab
            a.btn-floating.btn-large.brown
                i.large.material-icons fast_rewind
            ul
                li
                    a.btn-floating.red(href=`/`)
                        i.material-icons home
                li
                    button.btn-floating.blue(onclick=`history.back()`)
                        i.material-icons chevron_left
            