extends layout

block content
    .container  
        .row
            br
            //- - var number = Math.floor( Math.random() * 2 )
            //- img.bg-img(src=`./images/background${number}.jpg`)

            .carousel.carousel-slider
                a.carousel-item
                    img(src='./images/background0.jpg')
                a.carousel-item
                    img(src='./images/background1.jpg')
                a.carousel-item
                    img(src='./images/background2.jpg')
                a.carousel-item
                    img(src='./images/background3.jpg')
                a.carousel-item
                    img(src='./images/background4.jpg')
                a.carousel-item
                    img(src='./images/background5.jpg')
                a.carousel-item
                    img(src='./images/background6.jpg')
                a.carousel-item
                    img(src='./images/background7.jpg')
                a.carousel-item
                    img(src='./images/background8.jpg')
                a.carousel-item
                    img(src='./images/background9.jpg')
