<!DOCTYPE html>
html(lang="en")
    head
        title= `${title} | ${h.siteName}`
        link(rel='stylesheet', href='/dist/style.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/css/materialize.min.css')
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')

        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        
        

    body.brown.lighten-4
        block header  
            .navbar-fixed  
                
                nav
                    .nav-wrapper.brown
                        a(href='/') 
                            img.moja-kolekcija-vina(src="/images/logo.svg", alt="")
                            
                        a.sidenav-trigger(href='#' data-target='mobile-demo')
                            i.material-icons menu
                        ul.right.hide-on-med-and-down
                            li
                                a(href='/dodaj-vino') Novo Vino
                            
                           
                            // Dropdown Trigger
                            li
                                a.dropdown-trigger(href='#!' data-target='dropdown1')
                                    | Pretraga
                                    i.material-icons.right arrow_drop_down
                            
            ul#mobile-demo.sidenav
                li
                    a(href='/dodaj-vino') Novo Vino
                li
                    a(href='/zemlje') Pretraga po Zemljama
                
            
            ul#dropdown1.dropdown-content
                li
                    a(href='/zemlje') Pretraga po zemljama
                li.divider

        block messages
            if locals.flashes
                .container
                    .flash-messages
                        - const categories = Object.keys(locals.flashes)
                        each category in categories
                            each message in flashes[category]
                                .flash(class=`flash--${category}`)
                                    p.flash__text!= message
                                    button.flash__remove(onClick="this.parentElement.remove()") &times;
          
        block content

        block scripts
            
            script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
            script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/js/materialize.min.js')
            script(src="/dist/App.bundle.js")
            
            

            