<!DOCTYPE html>
html(lang="en")
    head
        title= `${title} | ${h.siteName}`
        link(rel='stylesheet', href='/dist/style.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/css/materialize.min.css')
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')

        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        
        

    body
        block header    
            nav
                .nav-wrapper
                    a.brand-logo(href='/') Logo
                    a.sidenav-trigger(href='#' data-target='mobile-demo')
                        i.material-icons menu
                    ul.right.hide-on-med-and-down
                        li
                            a(href='/dodaj-vino') Novo Vino
                        li
                            a(href='badges.html') Components
                        li
                            a(href='collapsible.html') Javascript
                        li
                            a(href='mobile.html') Mobile
                    ul#mobile-demo.sidenav
                        li
                            a(href='/dodaj-vino') Novo Vino
                        li
                            a(href='badges.html') Components
                        li
                            a(href='collapsible.html') Javascript
                        li
                            a(href='mobile.html') Mobile

        block messages
            if locals.flashes
                .modal#modal1
                    .modal-content
                        p= message
                    .modal-footer
                        button.btn.waves-effect.waves-light(onClick="this.parentElement.remove()") Zatvori
          
        block content


        block scripts
            
            script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
            script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/js/materialize.min.js')
            script(src="/dist/App.bundle.js")

            