extends layout

block content

    .container  
        .row
            .col.l12
                h3.brown-text= title
                hr
                p= post.sadrzaj
                hr

        .row
            .col.l12
                form(action=`/forum/${post._id}/odgovor` method="POST")
                    .input-field
                        textarea#sadrzaj.materialize-textarea(type='text' name="odgovor")
                        label(for='odgovor') Upišite odgovor