extends layout
include mixins/_vino-card
include mixins/_modal

block content
    .container
        .row
            br
            each vino in vina
                +vino-card(vino)
                +modal(vino)
