mixin forum-button

    .fixed-action-btn.button-fab#home-button
        a.btn-floating.btn-large.brown
            i.large.material-icons keyboard_arrow_up
        ul
            li
                a.btn-floating.red.tooltipped(data-tooltip="Početna" href=`/`)
                    i.material-icons home
            li
                button.btn-floating.blue.tooltipped(data-tooltip="Nazad" onclick=`history.back()`)
                    i.material-icons chevron_left
            li
                a.btn-floating.green.tooltipped(data-tooltip="Forum" href=`/forum`)
                    i.material-icons list