mixin galerija

    
    .container  
        .row

            .owl-carousel
                .owl-item
                    img(src="/images/intelligence-growth-1050x700.jpg")

                .owl-item
                    img(src="/images/pexels-photo-248797.jpeg")
