mixin vino-card(vino = {})

        a.modal-trigger(href=`#${vino.slug}`)
            .col.s12.m6.l3
                .card.z-depth-2
                    .card-image
                        img(src=`./images/${vino.slika || 'slika.jpg'}`)
                        .korisnik
                        .card-title.card-style
                            p= vino.naziv
                    .card-action.brown.lighten-4.action-style
                        p= vino.zemlja.toUpperCase()
            
