// FLASHES by Wes Bos from LearnNode.com

@keyframes slideIn {
  0% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}

.flash {
  background: white;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  margin-bottom: -2em;
  margin-top: 1em;
  margin-right: auto;
  margin-left: auto;
  padding: 1em 2em;
  position: absolute;
  bottom: 4em;
  left: 1em;
  // transform: translateX(-50%);
  width: auto;

  z-index: 1;
  border-radius: 3px;
  display: flex;
  animation: slideIn forwards .1s ease-in-out 2;
  animation-timing-function: cubic-bezier(0.01, 1.68, 0.58, 1);
  &+.flash {
    animation-delay: 0.55s;
    &+.flash {
      animation-delay: 0.6s;
    }
  }
  &__text {
    flex: 1;
  }
  &__remove {
    background: none;
    border: 0;
    &:hover {
      color: $yellow;
    }
  }
  &:after {
    content: '';
    display: block;
    background: white;
    position: absolute;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    top: 5px;
    left: 5px;
    z-index: -1;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
  }
  &--success {
    background: linear-gradient(135deg, #4caf50 0%, #388e3c 100%);
  }
  &--error {
    background: linear-gradient(20deg, #f44336 0%, #d32f2f 100%);
  }
  &--info {
    background: linear-gradient(35deg, #ffeb3b 0%, #fbc02d 100%);
  }
  p {
    margin: 0;
  }
}

@media (max-width: 600px) {
  .flash {
    left: 1%;
    bottom: 3.5em;
    width: 98%;
  }
}