input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: $brown !important;
    -webkit-box-shadow: 0 0 0px 1000px $brownLighten4 inset !important;
    transition: background-color 5000s ease-in-out 0s !important;
}

.login-forma input:-webkit-autofill,
.login-forma input:-webkit-autofill:hover,
.login-forma input:-webkit-autofill:focus input:-webkit-autofill,
.login-forma textarea:-webkit-autofill,
.login-forma textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
.login-forma select:-webkit-autofill,
.login-forma select:-webkit-autofill:hover,
.login-forma select:-webkit-autofill:focus {
    -webkit-text-fill-color: $brown !important;
    -webkit-box-shadow: 0 0 0px 1000px $brownLighten5 inset !important;
    transition: background-color 5000s ease-in-out 0s !important;
}

.spremi-button {
    position: absolute;
    bottom: -.4em;
}

.card {
    transition: all .6s ease;
    background-color: black;
}

.card:hover {
    opacity: .98;
}

.card-style {
    width: 100%;
    padding: 1em;
    text-align: right;
}

.card-style p {
    position: absolute;
    display: block;
    width: 100%;
    left: 0;
    bottom: -.7em;
    background-color: rgba(121, 85, 72, 0.4);
    padding-left: .5em;
    padding-bottom: .2em;
    text-align: left;
    font-size: .7em !important;
}

.action-style {
    height: 3.2em;
}

.action-style p {
    position: absolute;
    right: .7em;
    bottom: -.7em;
    font-size: 1.2rem;
    color: #444;
    line-height: 1.1em;
    padding-left: .6em;
}

h2 {
    color: $brown;
}

h5 {
    font-size: 1.2em !important;
}

.moja-kolekcija-vina {
    position: absolute !important;
    height: 66%;
    fill: white;
    transform: rotate(-5deg);
    left: 4em;
    bottom: .7em;
}

@media only screen and (min-width: 601px) {
    .moja-kolekcija-vina {
        right: .5em !important;
    }
}


/* label focus color */

.input-field input[type=text]:focus+label {
    color: #795548 !important;
}

.file-field input[type=file]:focus+label {
    color: #795548 !important;
}

input {
    -webkit-text-fill-color: $brown;
    border-bottom: 1px solid $brownLighten2 !important;
}


/* label underline focus color */

.input-field input[type=text]:focus {
    border-bottom: 1px solid #795548 !important;
    box-shadow: 0 1px 0 0 #795548 !important;
}

.file-field input[type=file]:focus {
    border-bottom: 1px solid #795548 !important;
    box-shadow: 0 1px 0 0 #795548 !important;
}

input.file-path.validate.valid[type=text] {
    border-bottom: 1px solid #795548 !important;
    box-shadow: 0 1px 0 0 #795548 !important;
}


/* label color */

.input-field label {
    color: $brown !important;
}

.modal {
    width: 80% !important;
    height: 90% !important;
}

.modal-footer {
    height: 6em !important;
}

#ukloni-modal {
    z-index: 9999999999;
    max-height: 15em;
    & h5 {
        padding-left: 1em;
    }
}

.vino-modal {
    z-index: 99999;
} // grid container
.grid-container {
    display: grid;
    grid-template-columns: [c1] 1fr [c2] 1fr [c3] 1fr [c4] 1fr [c5] 1fr [c6] 1fr;
    grid-template-rows: [r1] 1fr [r2] 1fr [r3] 1fr [r4] 1fr;
    grid-template-areas: "slika slika tekst1 tekst1 tekst1 tekst1" "slika slika tekst2 tekst2 tekst2 tekst2" "slika slika tekst3 tekst3 tekst3 tekst3" "slika slika tekst4 tekst4 tekst4 tekst4";
    height: 100%;
}

@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: [c1] 1fr [c2] 1fr [c3] 1fr [c4] 1fr [c5] 1fr [c6] 1fr;
        grid-template-rows: [r1] 15fr [r2] 15fr [r3] 1fr [r4] 1fr [r5] 1fr [r6] 1fr;
        grid-template-areas: "slika slika slika slika slika slika" "slika slika slika slika slika slika" "tekst1 tekst1 tekst1 tekst1 tekst1 tekst1" "tekst2 tekst2 tekst2 tekst2 tekst2 tekst2" "tekst3 tekst3 tekst3 tekst3 tekst3 tekst3" "tekst4 tekst4 tekst4 tekst4 tekst4 tekst4";
        height: 100%;
    }
}

@media (max-width: 600px) {
    .modal-slika {
        width: 100%;
    }
}

.slika {
    grid-area: slika;
}

.tekst1 {
    grid-area: tekst1;
}

.tekst2 {
    grid-area: tekst2;
    & h5 {
        bottom: 2em;
    }
}

.tekst3 {
    grid-area: tekst3;
}

.tekst4 {
    grid-area: tekst4;
}

.modal-slika {
    width: auto;
    height: 100%;
    ;
}

button {
    margin-bottom: .3em !important;
}

.btn {
    transition: .6s ease !important;
}

.btn:hover {
    opacity: 0.9 !important;
}

.login-forma {
    padding: 2em 0 !important;
}

.login-h4 {
    font-size: 1.8em !important;
}

@media (max-width: 600px) {
    .login-h4 {
        font-size: 1.5em !important;
    }
}

.alk-i-boca {
    position: absolute !important;
    bottom: 2em !important;
}

.alk-i-boca-desno {
    position: absolute !important;
    bottom: 2em !important;
    right: 5em !important;
}

.modal-datum {
    position: absolute;
    left: 1em;
    bottom: 0em;
}

.button-fab {
    position: absolute !important;
    bottom: .7em !important;
}

.dropdown-content li span,
.dropdown-content li a {
    color: $brown !important;
    box-sizing: border-box;
}

.user-image {
    height: 3.5em !important;
    margin-top: .4em !important;
}

.user-image-mobile {
    height: 3.1em !important;
    margin-top: .2em !important;
}

.flash__remove {
    cursor: pointer;
}

.korisnik {
    position: absolute;
    top: .6em;
    height: 1em;
    width: 100%;
    background: linear-gradient(33deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.25));
}

.card-ime {
    position: absolute;
    right: .7em;
    bottom: -1.1em;
    font-size: .7em;
    color: $brownLighten4
}